.countryItem {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5rem 0;
	border-bottom: 2px solid white;
}

.countryItem h3 {
	/* width: 25%; */
	width: 150px;
	margin: auto;
	text-align: left;
	padding-left: 0.5rem;
}

.countryItem img {
	width: 1rem;
	margin-left: 1rem;
}
