.countryDetail,
.parentCard {
	max-width: 1050px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	padding: 2rem 0;
}

.countryDetail {
	gap: 1rem;
}

.parentCard {
	gap: 0.8rem;
}
.countryDetail h2 {
	padding: 0 1rem;
}

.countryDetail div {
	display: flex;
	font-size: inherit;
	align-items: center;
	padding: 0 0.5rem;
}

.countryDetail img {
	width: 3rem;
}

@media (max-width: 850px) {
	.countryDetail {
		flex-direction: column;
		gap: 0.5rem;
	}
}
