.headerComponent {
	text-align: center;
}
.headerComponent h1 {
	display: inline-block;
	margin: auto;
	padding: 1rem 2rem;
	padding-bottom: 0.3rem;
	border-bottom: 2px solid white;
}

.totalCases {
	max-width: 1050px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	padding: 2rem 0;
	gap: 0.8rem;
}

.searchBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 3rem 0;
}
.searchBox-input {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	margin: 2rem auto 0;
	padding: 0 0.5rem;
	color: green;
}

.searchBox-input ::placeholder {
	color: rgb(255, 255, 255, 0.6);
}
.searchBox input[type="text"] {
	color: white;
	width: 100%;
	font-family: inherit;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0.4rem 1rem;
	border: 2px white solid;
	border-radius: 5px;
}

.searchBox-input img {
	cursor: pointer;
	background-color: white;
	padding: 0.3rem 1rem;
	border-radius: 5px;
}

.global-stats {
	padding-top: 5rem;
}
